services:
  n8n:
    container_name: n8n
    image: n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=Asia/Seoul
    volumes:
      - n8n_data:/home/node/.n8n

  mysql:
    container_name: n8n_mysql
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=woorifisa
      - MYSQL_USER=fisa01
      - MYSQL_PASSWORD=fisa01
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

  elasticsearch:
    container_name: n8n_elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:8.19.3
    restart: always
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data

  kibana:
    container_name: n8n_kibana
    image: docker.elastic.co/kibana/kibana:8.19.3
    restart: always
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  logstash:
    container_name: n8n_logstash
    build:
      context: ./logstash
      dockerfile: Dockerfile
    restart: always
    environment:
      - "LS_JAVA_OPTS=-Xms256m -Xmx256m"
    ports:
      - "5044:5044"
      - "9600:9600"
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline
      - ./logstash/config:/usr/share/logstash/config
      - logstash_data:/usr/share/logstash/data
    depends_on:
      - elasticsearch
      - mysql

  redis:
    container_name: n8n_redis
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis/users.acl:/etc/redis/users.acl
    command: redis-server --appendonly yes --aclfile /etc/redis/users.acl

volumes:
  n8n_data:
  mysql_data:
  elasticsearch_data:
  logstash_data:
  redis_data:
